# Node.js dependencies
/node_modules/

# .env file for sensitive data like tokens
/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# IDE configuration files (Optional, 可根據你的開發環境決定是否加)
.vscode/
.idea/
